
#titulos{
	text-align: center;
	color: #00eeff;
	background-position: center;
	background-color: black;
	padding-bottom: 20px;
	padding-top: 20px;
}
#der{
	float: right;
}
#izq{
	float: left;
}
.titulo{
	background-position: center;
	text-align: center;
}
.youtube {
   text-align: center;
   line-height: 0px;
 }
 .youtube iframe {
   width: 560px;
   height: 315px;
 }
 .imagen{
 	/*float: right;*/
	display:block;
	margin:auto;
 }